#exclude MATLAB temp files
*.m~

#exclude vim swp files
*.swp

#exclude videos, photos etc
*.avi, *.jpg, *.jpeg, *.eps, *.pdf

#exclude temporary files
wrapper_compare_real_videos.m
figures_new/
data/
comparison/
PROPACK/

